// <!-- UPGRADEHUB POKÉDEX - Pau Isach Noguera -->

//DECLARACIÓN VARIABLES

//Background Colors
$background-image: url("./Images/Wallpaper.jpg");

//Tipografy Colors
$light-color: white;
$dark-color: black;
$mid-color: gray;
$button-color-delete: rgb(201, 5, 5);
$button-color-catch: rgb(5, 201, 21);
$outside-color: rgb(0, 0, 223);
$inside-color: black; 
$catch-color: lightgreen; 
$todo-color: rgb(248, 199, 108);

//Tipografy Font
$type-font: rubik;

//Font Size
 $title-font: 24px; 
 $subtitle-font: 16px; 
 $tab-font: 14px; 

